#!/bin/bash

f_add_folder()  { if [[ ! -e "$1" ]]; then mkdir -p "$1"; fi; }
f_add_folders() { for f in "$@"; do f_add_folder "$f"; done; }

f_get_key() {
  local ret=
  IFS=$I_D read -ra t <<< "$1"
  for p in "${t[@]}"; do
    [ "${p%%=*}" != "$2" ] && continue
    ret=$(eval echo ${p#*=})
    break
  done
  echo "$ret"
}
f_get() { 
  local v=I_${1^^}
  local ret=$(f_get_key "$(IFS= echo ${!v})" $2)
  echo "${ret:-$3}"
}

f_exists() {
  local home="$(f_get $1 home $I_HOME)/$1"
  [[ -e "$home" ]] && echo 1
  [[ ! -e "$home" ]] && echo 0 
}
f_run() { 
  local run="$(f_get $1 run)"
  local exist=$(eval "$(f_get $1 check f_exists)" "$1")
  if [ $exist -eq 1 ]; then
    echo "[$1] installed, skip it ..."
  else
    f_add_folders "$I_TMP_BUILD"
    eval "${run:-f_binary}" "$1"
    rm -rf "$I_TMP_BIN" "$I_TMP_BUILD"
    if [[ -e "$I_HOME/$1/bin" ]]; then
      export PATH="$I_HOME/$1/bin":$PATH
    fi
  fi
}
f_runs() { for m in "$@"; do f_run "$m"; done; }

f_add_to_file() {
  if [ $(grep "export $1" "$3" | wc -l) -le 0 ]; then
    echo "export $1=$2" >> "$3"
  else
    sed -i 's#'"^export $1.*$"'#export '"$1=$2"'#' "$3"
  fi
}
f_copy()      { if [[ -e "$1" && ! -e "$2" ]]; then cp "$1" "$2"; fi; }
f_copy_sudo() { if [[ -e "$1" && ! -e "$2" ]]; then sudo cp "$1" "$2"; fi; }
f_unpack() {
  if [ "$1" = "zip" ]; then 
    tar xzf "$2" --strip-components 1 -C "$3"
  elif [ "$1" = "bz2" ]; then
    tar xjf "$2" --strip-components 1 -C "$3"
  fi
}

f_binary() {
  f_add_folder "$(f_get $1 home $I_HOME)/$1"
  eval $(echo "wget $(f_get $1 bin) -O $I_TMP_BIN")
  f_unpack "$(f_get $1 zip zip)" "$I_TMP_BIN" "$(f_get $1 home $I_HOME)/$1"
}
f_build() {
  f_add_folder "$(f_get $1 home $I_HOME)/$1"
  eval $(echo "wget $(f_get $1 bin) -O $I_TMP_BIN")
  f_unpack "$(f_get $1 zip zip)" "$I_TMP_BIN" "$I_TMP_BUILD"
  cd "$I_TMP_BUILD"
  ./configure $(f_get $1 b-conf) --prefix="$(f_get $1 home $I_HOME)/$1"
  make $(f_get $1 b-make install)
  cd -
}
